// Buttons
.btn {
  @include ease-in-out();
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  min-width: 150px;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  padding: 15px 25px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: map-get($colors, flint);
    box-shadow: none;
    color: map-get($colors, supernova);
  }

  // Types

}
