// Global Styles
*, ::after, ::before {
  box-sizing: border-box;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
html {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  @extend .fw-regular;
  background-color: map-get($colors, white);
  color: map-get($colors, black);
  font-family: $global-font-family;
  font-size: 1rem;
  margin: 0 auto;
  position: relative;
  text-align: left;
}
main {
  overflow: hidden;
}
// hr
hr {
  &.border_line {
    border-top: 2px solid map-get($colors, black);
  }
}
// Titles
h1,
h3,
h4,
h5 {
  @include font($global-font-family, map-get($colors, black), false, false, false, false, false);
}
h1 {
  font-size: $h1-font-size;
}
h2 {
  @include font($global-font-family, map-get($colors, black), $h2-font-size, false, false, bold, false, false);
  padding: 0 0 2rem;
  text-align: center;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}
h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}
// Fonts
p,
li,
a,
input,
span {
  @include font($global-font-family, map-get($colors, black), $global-font, false, false, false, false, false);
}
// Lists
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}
// Links hover
a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
// All lames shoud have a line height of 1.5
[class*="lame-"] {
  line-height: 1.5;
  * {
    line-height: 1.5;
  }
}