// Fonts definitions
/*Example @font-face {
  font-family: 'customfont';
  src:  url('../fonts/customfont/customfont.eot?yk0faz');
  src:  url('../fonts/customfont/customfont.eot?yk0faz#iefix') format('embedded-opentype'),
  url('../fonts/customfont/customfont.ttf?yk0faz') format('truetype'),
  url('../fonts/customfont/customfont.woff?yk0faz') format('woff'),
  url('../fonts/customfont/customfont.svg?yk0faz#customfont') format('svg');
  font-weight: normal;
  font-style: normal;
}*/